@import "tailwindcss";
@plugin '../lib/hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --bg-dark: #141a21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-dark: #141a21;
  --color-gray-light: #ffffff;
  --color-gray-secondary-text-dark: #919eab;
  --color-gray-secondary-text-light: #637381;
  --color-title-text-light: #1c252e;

  --color-custom-purple: #7635dc;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes settingIconSpin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-setting {
  animation: settingIconSpin 10s infinite;
  animation-delay: 0;
}
.bg-shadow-drawer {
  background-image: url("/images/shadow-green.svg"),
    url("/images/shadow-orange.svg");
  background-position: right top, left bottom;
  background-size: 50%, 50%;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
}
body {
  font-family: vazir, inter, sans-serif;
}
